# Pands 
Pands is an open source, BSD- licensed library providing high-performanc, easy-to use data structures and data analysis tools for the Python programming language

## First step is to import pands

### What is data Frames?
1. what is data series?
2.  Different operation in Pandas

In [2]:
import pandas as pd 
import numpy as np

In [9]:
## Playing with Data frame
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['row1','row2','row3','row4','row5'],columns=['column1','column2','column3'])))

SyntaxError: unmatched ')' (<ipython-input-9-96069fbef2b4>, line 2)

In [12]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['row1','row2',ow3,'row1'

In [13]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [19]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=["row1","row2","row3","row4","row5"],columns=["column1","column2","column3","column4"])

In [21]:
df.head()

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [22]:
import pandas as pd 
import numpy as np

In [26]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=["row1","row2","row3","row4","row5"],columns=["coulmn1","coulmn2","coulmn3","coulmn4"])

In [28]:
df.head()

      coulmn1  coulmn2  coulmn3  coulmn4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

##Accessing the elements
##1. .loc 2. iloc

In [30]:
type(df.loc["row1"])

pandas.core.series.Series

In [31]:
df.loc["row1"]

coulmn1    0
coulmn2    1
coulmn3    2
coulmn4    3
Name: row1, dtype: int32

In [32]:
df.loc["row2"]

coulmn1    4
coulmn2    5
coulmn3    6
coulmn4    7
Name: row2, dtype: int32

In [33]:
df.iloc[:,:]

      coulmn1  coulmn2  coulmn3  coulmn4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [35]:
df.iloc[0:3,0:2]

      coulmn1  coulmn2
row1        0        1
row2        4        5
row3        8        9

In [39]:
type(df.iloc[2:5,1:3])

pandas.core.frame.DataFrame

# convert Data frames into array

In [1]:
# Accessing the elements
# 1. .loc  2. iloc
df.iloc[:,1:].values

NameError: name 'df' is not defined

In [45]:
df.iloc[1:5,2:].values

array([[ 6,  7],
       [10, 11],
       [14, 15],
       [18, 19]])

In [47]:
df.isnull().sum()

coulmn1    0
coulmn2    0
coulmn3    0
coulmn4    0
dtype: int64

In [52]:
df["coulmn1"].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: coulmn1, dtype: int64

In [53]:
df["coulmn2"].value_counts()

13    1
5     1
17    1
9     1
1     1
Name: coulmn2, dtype: int64

In [54]:
df["coulmn2"].unique()

array([ 1,  5,  9, 13, 17])

In [55]:
df.to_csv("Test1.csv")

In [ ]:
df.to